<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
    	<meta charset="ISO-8859-1">
        <title>Animal Encyclopedia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="main.css" rel="stylesheet">
        <link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			data-integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			data-crossorigin="anonymous">
    </head>
    <body>
        <div>
            <section class="index index-image">
                <div class="index-wrap">
                    <div class="index-attr">
                        <img src="index.jpg">
                    </div>
                    <div class="container">
                        <div class="title text-center">
                            <h2 class="title-heading">
                                <strong class="index-words">
                                    <span class="title-effect is-visible">Animal Encyclopedia</span>
                                </strong>
                            </h2>
                            <div class="title-description">Always here for your loving pets</div>
                        </div>
					<div class="button">
						<ul>
							<li class="buttonList"><a href="#">Animal List</a></li>
						</ul>
					</div>
				</div>
                </div>
            </section>
        </div>
    </body>
</html>
