/*basic parts----------------------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/*basic tags----------------------------------------------------*/
img {
  max-width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2,
.h2 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.33333;
  color: #1c1c1c;
  margin-top: 0;
  margin-bottom: 1rem;
}


/*specific----------------------------------------------------*/
.index-image::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.index-image * {
  color: #fff;
}

.index,
.index-wrap {
  position: relative;
  overflow: hidden;
}

.index-wrap {
  height: 100vh;
}

.index-attr {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.index-attr img {
  max-width: none;
  top: 0;
  bottom: 0;
  position: absolute;
}

@media (min-width: 1200px) {
  .index-attr img {
    position: static;
    max-width: 100%;
  }
}

.index .container,
.index-wrap .container {
  z-index: 2;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 1200px) {
  .title .title-heading {
    font-size: 4.3rem;
  }
}

.index-wrap .title-heading {
  text-align: center;
}

.index-words {
  position: relative;
}

.index-words .title-effect {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
}

.index-words .title-effect.is-visible {
  position: relative;
  opacity: 1;
}

.title .title-description {
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .title .title-description {
    font-size: 1.2rem;
    padding: 0 5.9rem;
  }
}

.button{
  float: left;
  margin-top: 50px;
  margin-left: 450px;
}

.button .buttonList{
  list-style-type: none;
  text-align: center;
  background-color: aquamarine;
  opacity: 90%;
  border: 2px solid #00a4ff;
  height: 42px;
  width:160px;
  line-height: 42px;
  font-size:20px;
}
